/*main*/
main {
  margin-left: 200px;
  padding-bottom: 250px;
}

/*navigācijas stils*/
.topnav {
  background-color: #888888;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-left: 200px;
}
.topnav a {
  flex: 0.1;
  text-decoration: none;
  color: #f2f2f2;
}
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}
/* The side navigation menu */
/*no lekcijas*/
.sidebar {
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #888888;
  padding-top: 30px;
  margin-left: 0px;
}
.sidebar a {
  flex: 0.1;
  display: flex;
  text-decoration: none;
  color: #f2f2f2;
}
.sidebar a:hover {
  background-color: #dddddd;
  color: black;
}

.active {
  background-color: lightblue;
}

/*teksta bloka izskatiņš*/
aside {
  width: 15%;
  padding-left: 30px;
  margin-left: 15px;
  float: right;
  font-style: bold;
  text-align: center;
  background-color: lightgray;
}

/*klase centrēt lietas*/
.center {
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

#saturs {
  background-color: lightblue;
}

img {
  border-radius: 50px;
}

#raksts {
  text-align: justify;
}

/* Ordered list stils*/
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.8em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 1.1em;
}

li ol > li {
  margin: 2;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

/*input lauka value teksta krāsa*/
input,
select,
textarea {
  color: grey;
}

/* Tabulas formatejums*/
table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-color: #96d4d4;
  border-collapse: collapse;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#lapas {
  margin-top: 60px;
  width: 100%;
  height: 500px;
}
