<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mans pirmais HTML dokuments</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.glitch.global/9854f0fd-919d-42f8-bc98-ee5fdb1ef95c/favicon.ico?v=1743781732383"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='stils.css')}}" />
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
  </head>

  <body>
    <header class="topnav">
      <a href="/" class="active">Sākums</a>
      <a href="par_mums" onclick="atjaunotIetvaru(this); return false;">Par mums</a>
      <a href="kontakti" onclick="atjaunotIetvaru(this); return false;">Kontakti</a>
      <a href="aptauja" onclick="atjaunotIetvaru(this); return false;">Aptauja</a>
      <a href="pamati_sintakse" onclick="atjaunotIetvaru(this); return false;">Pamati sintakse</a><!--"pamati_sintakse.html"-->
      <a href="#tabula">Reference uz tabulu</a>
      <a href="MD" onclick="atjaunotIetvaru(this); return false;">Patstāvīgais darbs</a>
    </header>

    <aside class="sidebar">
      <a href="/">Sākums</a><br />
      <a href="par_mums.html" onclick="atjaunotIetvaru(this); return false;">Par mums</a><br />
      <a href="kontakti.html" onclick="atjaunotIetvaru(this); return false;">Kontakti</a><br />
      <a href="aptauja.html" onclick="atjaunotIetvaru(this); return false;">Aptauja</a><br />
      <a href="pamati_sintakse" onclick="atjaunotIetvaru(this); return false;">Pamati sintakse</a><br /> <!--"pamati_sintakse.html"-->
      <a href="#tabula">Reference uz tabulu</a><br />
    </aside>

    <main id="lapas_saturs">
      <h1><center>Laipni lūgti lapā</center></h1>

      <section id="saturs">
        <marquee>Svarīgs paziņojums pirmajiem apmeklētājiem!</marquee>
      </section>

      <img
        src="https://cdn.glitch.global/9854f0fd-919d-42f8-bc98-ee5fdb1ef95c/20210604_202956.jpg?v=1743780080530"
        width="200px"
      />

      <aside>
        <p class="center">
          Ievadiet pieslēgšanās informāciju<br /><br />
          Lietotājs<input type="text" /><br /><br />
          Parole <input type="password" /> <br /><br />
          <input type="submit" value="Iesniegt" /> <br />
        </p>
      </aside>

      <section id="raksts">
        <h2>What is Lorem Ipsum?</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.

        <h2>Why do we use it?</h2>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum as their default model text, and a
        search for 'lorem ipsum' will uncover many web sites still in their
        infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).

        <h2>Where does it come from?</h2>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure
        Latin words, consectetur, from a Lorem Ipsum passage, and going through
        the cites of the word in classical literature, discovered the
        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of
        ethics, very popular during the Renaissance. The first line of Lorem
        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32.
      </section>
      <p></p>

      <table id="tabula">
        <caption>
          Tabula ko ievietot
        </caption>
        <th rowspan="2">Informācija</th>
        <th colspan="3">Vārds</th>

        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
        </tr>

        <tr>
          <td>Rezultāti</td>
          <td>16</td>
          <td>14</td>
          <td>10</td>
        </tr>

        <tr>
          <td>Rezultāti</td>
          <td>16</td>
          <td>14</td>
          <td>8</td>
        </tr>
      </table>

      <div>Turpinām mācīties</div>
      <p></p>

      <p></p>

      <ol>
        Ordered list +CSS stilu
        <li>numurs</li>
        <li></li>
        <li></li>
        <ol>
          <li>Black tea</li>
          <li>Green tea</li>
          <ol>
            <li>tests brīnums</li>
            <ul>
              <li>paraugs arī ar punktiņiem</li>
            </ul>
          </ol>
        </ol>
      </ol>
      <p></p>
      <br />
      <ul>
        Nesakārtots saraksts
        <li>ffff</li>
        <li>fffdgf</li>
        <li>fffdggff</li>
      </ul>

      <section>Tas ir reference uz tekstu kaut kur citur</section>

      <br />
      <section id="aprekins">
        <label for="vards">Ievadi savu vārdu <space> </space> <input type="text" id="vards" /> </label> <br><br>
      <label for="pirma_vertiba">Ievadi pirmo vērtību "x" <space> </space> <input type="number" id="x" /> </label> <br><br>
      <label for="otra_vertiba">Ievadi otra vērtību "y"<space> </space> <input type="number" id="y" /> </label><br><br>
     <button onclick="aprekins()" class="btn btn-warning">Saskaitīšana</button>
        <button onclick="atnemsana()" class="btn btn-warning">Atņemšana</button>
        <button onclick="reizinasana()" class="btn btn-warning">Reizināšana</button>
        <button onclick="dalisana()" class="btn btn-warning">Dalīšana</button>
        
      <p id="rezultats">
        Šeit būs rezultāts
        </p>  
      
      </section>
      
    
      
      <br />

      <h2>Trīs div kolonnas</h2>

      <div class="row">
        <div class="column" style="background-color: #aaa">
          <br />
          <h2>What is Lorem Ipsum?</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="column" style="background-color: #bbb">
          <br />
          <h2>Why do we use it?</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
        </div>
        <div class="column" style="background-color: #ccc">
          <h2>Where does it come from?</h2>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the
            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
            amet..", comes from a line in section 1.10.32.
          </p>
        </div>
      </div>
      <br /><br />

      <section id="canvas">
        <canvas id="zimejums" width="500" height="400"></canvas>

        <button onclick="taisnsturis()">Taisnstūris</button>
        <button onclick="aplis()" class="btn btn-warning">Aplis</button>
        <button onclick="teksts()" class="btn btn-warning">Teksts</button>
        <button onclick="linija()" class="btn btn-warning">Līnija</button>

        <button onclick="clearall()" class="btn btn-warning">Notīrīt</button>
      </section>
    </main>

    <footer>
      <h2>&copy; 2005 Anna Lākute</h2>
    </footer>
  </body>
</html>
