<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Par mums</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.glitch.global/9854f0fd-919d-42f8-bc98-ee5fdb1ef95c/favicon.ico?v=1743781732383"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='stils.css')}}" />
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
  </head>

  <body>
        <main>
      <h1><center>Kontakti un rekvizīti</center></h1>
      <!-- <p>Teksts un viss pārējais</p>

      <img
        src="https://cdn.glitch.global/9854f0fd-919d-42f8-bc98-ee5fdb1ef95c/CT_1.jpg?v=1743780641376"
        width="150px"
      />-->

      <br />

      <div class="row">
        <div class="column" style="background-color: #aaa">
          <h2>Kontakti</h2>
          <p>
            SIA ""<br />
            Adrese: <br />
            Tālrunis: <br />
            e-pasts: <br />
          </p>
        </div>
        <div class="column" style="background-color: #bbb">
          <h2>Atrašanās vieta</h2>
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d726.2748978870095!2d24.123597850246426!3d56.94253788995142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eece2a43210961%3A0xf0fa48202f8772b3!2zTm9kYXJiaW7EgXTEq2JhcyB2YWxzdHMgYcSjZW50xatyYSwgUsSrZ2FzIGZpbGnEgWxl!5e0!3m2!1sen!2slv!4v1744653088074!5m2!1sen!2slv"
              width="500"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
        <div class="column" style="background-color: #ccc">
          <h2>Where does it come from?</h2>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the
            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
            amet..", comes from a line in section 1.10.32.
          </p>
        </div>
      </div>
    </main>
  
  </body>
</html>
